<aside class="sidebar" [class.collapsed]="collapsed">

  <div class="sidebar-header">
    <div class="logo">
      <i class="fa-solid fa-layer-group"></i>
    </div>

    <div class="brand" *ngIf="!collapsed">
      <h2>Mi Sistema</h2>
      <span>Panel de control</span>
    </div>
  </div>

  <nav class="menu">
    <div>Menu items: {{ menu?.length || 0 }}</div>

    <ng-container *ngFor="let item of menu">
      <div *ngIf="item.items?.length > 0; else menuLink" class="menu-group">
        <button type="button" (click)="toggleItem(item.id)">
          <i [class]="item.icono"></i>
          <span>{{ item.nombre }}</span>
          <span class="arrow" [class.rotate]="isOpen(item.id)">&#9660;</span>
        </button>
        <div class="submenu" *ngIf="isOpen(item.id)">
          <a *ngFor="let child of item.items" [routerLink]="child.path">{{ child.nombre }}</a>
        </div>
      </div>
      <ng-template #menuLink>
        <div class="menu-item">
          <a [routerLink]="item.path">
            <i [class]="item.icono"></i>
            <span>{{ item.nombre }}</span>
          </a>
        </div>
      </ng-template>
    </ng-container>
  </nav>

</aside>