<aside class="sidebar" [class.collapsed]="collapsed">

  <div class="sidebar-header">
    <div class="logo">
      <i class="fa-solid fa-sun"></i>
    </div>

    <div class="brand" *ngIf="!collapsed">
      <h2>Solar UI</h2>
      <span>Panel de navegación</span>
    </div>

    <button type="button" class="sidebar-toggle" (click)="toggleSidebar()" aria-label="Toggle sidebar">
      <i class="fa-solid" [ngClass]="collapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
    </button>
  </div>

  <nav class="menu">
    <div class="menu-title" *ngIf="!collapsed">Navegación</div>

    <ng-container *ngFor="let item of menu">
      <div *ngIf="(item.items?.length ?? 0) > 0; else menuLink" class="menu-group">
        <button type="button" (click)="toggleItem(item.id)">
          <i [class]="item.icono"></i>
          <span>{{ item.nombre }}</span>
          <span class="arrow" [class.rotate]="isOpen(item.id)">&#9660;</span>
        </button>
        <div class="submenu" *ngIf="isOpen(item.id)">
          <a *ngFor="let child of item.items ?? []" [routerLink]="child.path" (click)="closeSidebar()">{{ child.nombre }}</a>
        </div>
      </div>
      <ng-template #menuLink>
        <div class="menu-item">
          <a [routerLink]="item.path" (click)="closeSidebar()">
            <i [class]="item.icono"></i>
            <span>{{ item.nombre }}</span>
          </a>
        </div>
      </ng-template>
    </ng-container>
  </nav>

</aside>